body{
margin: auto;
padding:auto;
width: 100%;
font-family: 'Raleway', sans-serif;
}






/*-------------DEBUT ECRAN IPHONE 8--------------- */

@media screen and (min-width:320px) and (max-width:812px){
   
   /*HEADER*/ 
    #header_pc{
      display: none;
    }

    #header_iphone{
        display: flex;
        justify-content: space-between;
        color: #0065FC;
        font-weight: bold;
    }

    #header_iphone ul li {
        list-style-type: none;
        display: inline;
    }

    #nav_iphone{
        display: flex;
        justify-content: space-around;
    }

    #nav_iphone a{
        width:100% ;
        text-align: center;
        text-decoration: none;
        color: #0065FC;
    }

    #nav_iphone a:hover{
        border-bottom: 2px solid #0065FC;
    }

 

   /*FIN HEADER*/ 

   /*MENU INFO*/
   #menu_pc{
       display: none;
   }

   #filtre_iphone ul li{
       list-style-type: none;
       margin-right: 5px;
       border: 2px solid #0065FC;
       border-radius: 10px;
       width: 50%;
   }

   #recherch_iphone button{
    background-color: #0065FC;
    border-top-right-radius: 10px;
    border-bottom-right-radius:10px ;
    color:white;
   }

   .filtreBold{
       font-weight: bold;
   }
   /*FIN MENU INFO*/


   /*-----HERBERGEMENT------*/
section{
    padding: 20px 20px;
}
   #mainHebergement{
      flex-direction: column-reverse;
   }
   
   #hebergement{
       flex-direction: column;
       width: 100%;
       margin: auto;
   }

   #part1{
       flex-direction: column;
   }

   #part2{
       flex-direction: column;
   }

   #populaire{
       width: 100%;
       margin: auto;
   }

   /*FIN HEBERGEMENT*/

    /*ACTIVITES*/

#activite{
    flex-direction: column;
}
    /*FIN ACTIVITE*/

footer{
    background-color: red;
    display: inline;
 
}

}

/*-------------FIN ECRAN IPHONE 8--------------- */

/*-----------ECRAN TABLETTE------------------*/


@media screen and (min-width:768px) and (max-width:1366px){
    #mainHebergement{
        
        display: inline;
        flex-direction: column-reverse;
    }
}


/*-----------FIN ECRAN TABLETTE------------------/*


/*-------------ECRAN PC--------------- */

@media screen and (min-width:1024px) and (max-width:1920px){
    /*HEADER*/ 
    #header_iphone{
        display: none;
    }

    #header_pc{
        display: flex;
        justify-content: space-between;
    }

    #header_pc ul li {
        list-style-type: none;
        display: inline;
        margin-right: 10px;
    }

    #nav_iphone{
        display: none;
    }

    #menu_iphone{
        display: none;
    }
/*HEADER*/

/*------MENU INFO-------*/


#recherche_pc{
    display: flex;
   
}




#recherche_pc button{
   background-color: #0065FC;
   border-top-right-radius: 10px;
   border-bottom-right-radius:10px ;
   color:white;
 
   
}

#filtre_pc ul li{
    list-style-type: none;
    display: inline;
    margin-right: 5px;
    border: 2px solid black;
    border-radius: 10px;
}

.filtreBold{
    font-weight: bold;
}

#menu_iphone ul li{
    display: inline;
}

/*------FIN MENU INFO-------*/
footer{
    
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    
}

}




/*-------------FIN ECRAN PC--------------- */

.introBold{
    font-weight: bold;
}


   /*-----HERBERGEMENT------*/

#mainHebergement{
    display: flex;
    justify-content: space-between;
    
}

#hebergement{
    padding: 10px 15px;
    background-color:#F2F2F2 ;
 
}

#part1{
    display: flex;
    justify-content: space-between;
   
}

#part2{
    display: flex;
    justify-content: space-between;
    
}

figure{
    box-shadow: 10px 5px 5px 5px white;
    border: 3px solid white;
    background-color: white;
    border-radius: 10px;
}

figure img{
   border-radius: 20px;
}


figcaption{
    box-shadow: 10px 5px 5px 5px white;
    background-color: white;
    border: 2px solid white;
}

.titreFig{
    font-weight: bold;
}
 
#populaire{
  
   
    background-color:#F2F2F2 ;
    
}


#populaire figure{

    box-shadow: 10px 5px 5px 5px white;
    background-color: white;
    border-radius: 10px;
    display: flex;
}

#populaire figure img{
   border: 2px solid black;
   border-radius: 20px;
}


#populaire figcaption{
    
    border: 2px solid white;
}

   /*-----FIN HERBERGEMENT------*/


   /*-----ACTIVITÉ------*/

   #activite{
       display: flex;
       justify-content: space-between;
       width: 100%;
   }


   #activite figure{
   
    box-shadow: 10px 5px 5px 5px #F2F2F2;
    text-align: center;
    border-radius: 10px;
  
   }

   #activite figure img{
    border-radius: 20px;
   }

   #activite figure figcaption{
    border: 1px solid white;
    background-color: white;
   }

   #populaire figcaption{
   
    border: 2px solid white;
   }


 /*-----FIN ACTIVITÉ------*/

/*-----FOOTER------*/
footer{
    background-color: #F2F2F2;
}
footer ul li{
    list-style-type: none;
}




/*-----FIN FOOTER------*/