body{
margin: auto;
padding:auto;
width: 100%;
}






/*-------------DEBUT ECRAN IPHONE 8--------------- */

@media screen and (min-width:320px) and (max-width:812px){
   
   /*HEADER*/ 
    #header_pc{
      display: none;
    }

    #header_iphone{
        display: flex;
        justify-content: space-between;
        color: red;
    }

    #header_iphone ul li {
        list-style-type: none;
        display: inline;
    }

    #nav_iphone{
        display: flex;
        justify-content: space-around;
    }

   /*FIN HEADER*/ 

   /*MENU INFO*/
   #menu_pc{
       display: none;
   }
   /*FIN MENU INFO*/
}









/*-------------FIN ECRAN IPHONE 8--------------- */



/*-------------ECRAN PC--------------- */

@media screen and (min-width: 992px){
    /*HEADER*/ 
    #header_iphone{
        display: none;
    }

    #header_pc{
        display: flex;
        justify-content: space-between;
    }

    #header_pc ul li {
        list-style-type: none;
        display: inline;
        margin-right: 10px;
    }

    #nav_iphone{
        display: none;
    }

    #menu_iphone{
        display: none;
    }
/*HEADER*/

/*------MENU INFO-------*/


#recherche_pc{
    display: flex;
}

#recherche_pc button{
   background-color: #0065FC;
   border-top-right-radius: 10px;
   border-bottom-right-radius:10px ;
   
}

#filtre_pc ul li{
    list-style-type: none;
    display: inline;
    margin-right: 5px;
    border: 2px solid black;
    border-radius: 10px;
}

.filtreBold{
    font-weight: bold;
}

#menu_iphone ul li{
    display: inline;
}
/*------FIN MENU INFO-------*/
}




/*-------------FIN ECRAN PC--------------- */

.introBold{
    font-weight: bold;
}
